.page-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.page-nav li {
  display: inline-block;
  position: relative;
}

.page-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 20px;
  color: rgba(#fff, 0.8);

}
.page-nav a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 1px;
  background: $colorMain;
  transition: 0.5s all;

}

.page-nav a:hover {
  color: $colorMain;
}

.page-nav a:hover:before {
  opacity: 1;
}